<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Norwegian</title>
    <link rel="stylesheet" type="text/css" href="~/Public/Site.css?noCache=@(new Random().GetHashCode().ToString())">
    <link rel="stylesheet" type="text/css" href="~/Public/tilbud.css?noCache=@(new Random().GetHashCode().ToString())">
    <link rel="stylesheet" type="text/css" href="~/Public/jquery-ui.min.css?noCache=@(new Random().GetHashCode().ToString())">
    <link rel="stylesheet" type="text/css" href="~/Public/jquery-ui.structure.min.css?noCache=@(new Random().GetHashCode().ToString())">
    <link rel="stylesheet" type="text/css" href="~/Public/jquery-ui.theme.min.css?noCache=@(new Random().GetHashCode().ToString())">
    <script src="~/Public/jquery-3.2.1.min.js"></script>
    <script src="~/Public/jquery-ui.min.js"></script>
</head>
<body>
    @Html.Partial("_Menu")
    <div class="lePage homePoster">
        <div class="leftOffers" style="float: left; margin-top: 350px;">
            @Html.Partial("_LeftOffers")
        </div>
        <div>
            @RenderBody()
        </div>
        <div class="rightOffers" style="float:right;">
            @Html.Partial("_RightOffers")
        </div>
    </div>
    <br />
    <div style="margin-left: 10px; margin-right: 10px;">
        @{ 
            //Html.Partial("_Tilbud")
        }

    </div>
    @Html.Partial("_Footer")

</body>
</html>