<div id="topMenu">
    <ul class="">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Plane", "Plane", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
    <!-- @Html.Partial("_LoginPartial")-->
    <div id="MenuLogo"><img src="/Content/logo.jpg" alt="Norwegian Air Shuttle ASA" /></div>
</div>