<div id="topMenu">
    <div id="MenuLogo"><img src="/Content/logo.jpg" alt="Norwegian Air Shuttle ASA" /></div>
    <ul class="floatLeft">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Afgange", "Index", "Afgange")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
    @Html.Partial("_LoginPartial")
</div>