@model Booking.Web.Models.BookingViewModel

<div class="booking_partial someShadow">
    <div class="badget">5</div>
    <h2>Passengers</h2>
    @{
        if (Model.Passengers.Count() > 0)
        {
            for (int i = 0; i <= Model.Passengers.Count()-1; i++)
            {
                @Html.Label("Passenger " + i + ":", new { @class = "ny" });                
                @Html.HiddenFor(x => x.Passengers[i].Id, new { @class = "ny" });

                @Html.HiddenFor(x => x.Passengers[i].SeatNumber, new { @class = "ny" });

                @Html.LabelFor(x => x.Passengers[i].FirstName, new { @class = "ny" });
                @Html.TextBoxFor(x => x.Passengers[i].FirstName, new { @class = "ny" });

                @Html.LabelFor(x => x.Passengers[i].LastName, new { @class = "ny" });
                @Html.TextBoxFor(x => x.Passengers[i].LastName, new { @class = "ny" });

                @Html.LabelFor(x => x.Passengers[i].PassportId, new { @class = "ny" });
                @Html.TextBoxFor(x => x.Passengers[i].PassportId, new { @class = "ny" });

                @Html.LabelFor(x => x.Passengers[i].CPR, new { @class = "ny" });
                @Html.TextBoxFor(x => x.Passengers[i].CPR, new { @class = "ny" });
                
            }
        }
    }
    <input type="submit" value="Save" class="ny"/>
</div>